@import url("https://fonts.googleapis.com/css2?family=Exo:wght@300;400;500;600;700;900&display=swap");
/*font-family: 'Exo', sans-serif;*/
:root {
  --color-green: #a6c626;
  --color-white: #fff;
  --color-black: #000;
  --color-orange: #ea550f;
  --color-gray: rgba(0, 0, 0, 0.63);
  --color-light: #a1a1a1;
  --color-blue: #202726;
  --color-lightGray: #ececec;
  --color-darkGray: #636363;
  --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.text-green {
  color: var(--color-green);
}
.text-white {
  color: var(--color-white);
}
.text-black {
  color: var(--color-black);
}
.text-orange {
  color: var(--color-orange);
}
.text-gray {
  color: var(--color-gray);
}
.text-light {
  color: var(--color-light);
}
.text-blue {
  color: var(--color-blue);
}
.text-lightGray {
  color: var(--color-lightGray);
}
.text-darkGray {
  color: var(--color-darkGray);
}
.bg-green {
  background: var(--color-green);
}
.bg-white {
  background: var(--color-white);
}
.bg-black {
  background: var(--color-black);
}
.bg-orange {
  background: var(--color-orange);
}
.bg-gray {
  background: var(--color-gray);
}
.bg-light {
  background: var(--color-light);
}
.bg-blue {
  background: var(--color-blue);
}
.bg-lightGray {
  background: var(--color-lightGray);
}
.bg-darkGray {
  background: var(--color-darkGray);
}
.border-orange {
  border-color: var(--color-orange);
}
.border-green {
  border-color: var(--color-green);
}
.boxGreen {
  background: rgba(166, 198, 38, 0.26);
}
.boxOrange {
  background: rgba(234, 85, 15, 0.19);
}
.boxBlack {
  background: rgba(69, 90, 100, 0.17);
}
.boxPink {
  background: rgba(234, 15, 133, 0.19);
}
body {
  font-family: "Exo", sans-serif;
  color: var(--color-gray);
  line-height: 22px;
  padding: 0 !important;
  background: #fff;
  font-size: 14px;
}
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
}
html,
body {
  overflow-x: hidden;
}
::selection {
  background: var(--color-orange);
  color: var(--color-white);
  text-shadow: none;
}
::-moz-selection {
  background: var(--color-orange); /* Firefox */
  color: var(--color-white);
  text-shadow: none;
}
::-webkit-selection {
  background: var(--color-orange); /* Safari */
  color: var(--color-white);
  text-shadow: none;
}
a,
.btn,
img,
button,
.form-control,
.CategoryBox h3,
.AddListing,
.AddVideo {
  text-decoration: none;
  -webkit-transition: 1s ease all;
  -o-transition: 1s ease all;
  -moz-transition: 1s ease all;
  -ms-transition: 1s ease all;
  transition: 1s ease all;
}
a {
  color: var(--color-black);
}
a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: var(--color-orange);
  outline: none;
}
:focus {
  outline: -webkit-focus-ring-color auto 0;
}
.container,
.container-fluid {
  position: relative;
}
.container-fluid {
  padding-left: 40px;
  padding-right: 40px;
}
/*=============== Start Form ===============*/
.form-control {
  width: 100%;
  height: 58px !important;
  box-shadow: inherit;
  border-radius: 0px;
  border: 0;
  border-left: 3px solid var(--color-green);
  background: var(--color-white);
  font-size: 16px;
  color: var(--color-black);
  font-weight: normal;
  padding: 10px 15px;
  letter-spacing: 0.2px;
}
.contryCode {
  width: 70px;
  margin-right: 15px;
}
textarea.form-control {
  height: inherit !important;
  padding: 12px 20px;
}
.form-control:focus {
  -webkit-box-shadow: inherit;
  box-shadow: inherit;
  background: var(--color-white);
  border-left: 3px solid var(--color-orange);
}
.form-control::placeholder {
  color: #828282;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #828282;
}
.form-control::-ms-input-placeholder {
  color: #828282;
}
.control-label {
  font-size: 16px;
  color: var(--color-black);
  margin-bottom: 10px;
  font-weight: normal;
}
input.form-control:-internal-autofill-selected {
  background-color: inherit !important;
}
.form-group {
  margin-bottom: 20px;
}
sup {
  color: var(--color-orange);
}
.select-wrapper select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.select-wrapper {
  position: relative;
}
.select-wrapper:after {
  font-family: "Font Awesome 5 Pro";
  content: "\f107";
  font-weight: 400;
  font-size: 22px;
  position: absolute;
  top: 12px;
  right: 15px;
  color: #777;
  pointer-events: none;
}
select::-ms-expand {
  display: none;
}
.span_pseudo,
.chiller_cb span:before,
.chiller_cb span:after {
  content: "";
  display: inline-block;
  background: var(--color-white);
  width: 0;
  height: 0.2rem;
  position: absolute;
  transform-origin: 0% 0%;
}
.input-group-addon {
  background: var(--color-white);
  border: 0;
  border-radius: 0;
}
.chiller_cb {
  position: relative;
  height: 2rem;
  display: flex;
  align-items: center;
}
.chiller_cb input {
  display: none;
}
.chiller_cb input:checked ~ span {
  background: #007fff;
  border-color: #007fff;
}
.chiller_cb input:checked ~ span:before {
  width: 13px;
  height: 3px;
  transition: width 0.1s;
  transition-delay: 0.3s;
}
.chiller_cb input:checked ~ span:after {
  width: 8px;
  height: 3px;
  transition: width 0.1s;
  transition-delay: 0.2s;
}
.chiller_cb input:disabled ~ span {
  background: #ececec;
  border-color: #dcdcdc;
}
.chiller_cb input:disabled ~ label {
  color: #dcdcdc;
}
.chiller_cb input:disabled ~ label:hover {
  cursor: default;
}
.chiller_cb label {
  padding-left: 30px;
  position: relative;
  z-index: 2;
  cursor: pointer;
  margin-bottom: 0;
}
.chiller_cb span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #ddd;
  position: absolute;
  left: 0;
  transition: all 0.2s;
  z-index: 1;
  box-sizing: content-box;
}
.chiller_cb span:before {
  transform: rotate(-55deg);
  top: 14px;
  left: 7px;
}
.chiller_cb span:after {
  transform: rotate(35deg);
  bottom: 8px;
  left: 4px;
}
.magic-radio-group {
  margin-top: 12px;
  margin-bottom: 25px;
}
.magic-radio-group label.control-label {
  display: block;
}
.magic-radio-group span {
  display: inline-block;
  position: relative;
}
.magic-radio {
  position: absolute;
  display: none;
}
.magic-radio[disabled] {
  cursor: not-allowed;
}
.magic-radio + label {
  position: relative;
  display: block;
  padding-left: 38px;
  cursor: pointer;
  vertical-align: middle;
  margin: 0 20px 0 0;
  font-size: 15px;
  color: #007fff;
  line-height: 30px;
  font-weight: normal;
}
.magic-radio + label:hover:before {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: hover-color;
}
.magic-radio + label:before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 30px;
  height: 30px;
  content: "";
  border: 2px solid #007fff;
}
.magic-radio + label:after {
  position: absolute;
  display: none;
  content: "";
}
.magic-radio[disabled] + label {
  cursor: not-allowed;
  color: #e4e4e4;
}
.magic-radio[disabled] + label:hover,
.magic-radio[disabled] + label:before,
.magic-radio[disabled] + label:after {
  cursor: not-allowed;
}
.magic-radio[disabled] + label:hover:before {
  border: 1px solid #e4e4e4;
  animation-name: none;
}
.magic-radio[disabled] + label:before {
  border-color: #e4e4e4;
}
.magic-radio:checked + label:before {
  animation-name: none;
}
.magic-radio:checked + label:after {
  display: block;
}
.magic-radio + label:before {
  border-radius: 50%;
}
.magic-radio + label:after {
  top: 6px;
  left: 6px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #007fff;
}
.magic-radio:checked + label:before {
  border: 2px solid #007fff;
}
.magic-radio:checked[disabled] + label:before {
  border: 2px solid var(--color-white);
}
.magic-radio:checked[disabled] + label:after {
  background: var(--color-white);
}
/*=============== End Form ===============*/
img {
  max-width: 100%;
}
ul {
  list-style-type: none;
}
ol,
ul {
  margin: 0px;
  padding: 0;
}
ul li,
ol li {
  color: var(--color-gray);
  line-height: 1.8;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-black);
  font-family: "Exo", sans-serif;
  font-weight: bold;
}
h1 {
  font-size: 48px;
  font-weight: bold;
  margin: 0px 0 30px;
  line-height: 68px;
  color: var(--color-black);
}
h2 {
  font-size: 42px;
  font-weight: bold;
  margin: 0px 0 30px;
  line-height: 54px;
  color: var(--color-white);
}
h3 {
  font-size: 30px;
  font-weight: 600;
  margin: 0px 0 40px;
}
h4 {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 20px;
  line-height: 28px;
}
h5 {
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 20px;
  line-height: 28px;
}
.titelOne {
  position: relative;
}
.titelOne h1 {
  font-size: 42px;
  line-height: 42px;
  font-weight: 700;
  color: var(--color-black);
}
.titelOne h1 small {
  display: block;
  font-size: 21px;
  font-weight: 700;
  color: var(--color-green);
  margin-bottom: 15px;
}
.titelOne h2 {
  font-size: 42px;
  line-height: 42px;
  font-weight: 700;
  color: var(--color-black);
}
.titelOne h2 small {
  display: block;
  font-size: 21px;
  font-weight: 700;
  color: var(--color-orange);
}
.titelTwo {
  position: relative;
  margin-bottom: 30px;
}
.titelTwo h3 {
  font-size: 38px;
  line-height: 48px;
  font-weight: 700;
  color: var(--color-black);
}
.titelTwo h3 small {
  display: block;
  font-size: 18px;
  font-weight: 700;
  color: var(--color-orange);
}
.titelLine {
  position: relative;
  margin-bottom: 30px;
}
.titelLine h3 {
  font-size: 38px;
  line-height: 48px;
  font-weight: 700;
  color: var(--color-black);
}
.titelLine h3 small {
  display: block;
  font-size: 18px;
  font-weight: 700;
  color: var(--color-orange);
}
.titelLine:after {
  position: absolute;
  bottom: -18px;
  width: 115px;
  height: 3px;
  background: var(--color-green);
  content: "";
}
.text-center .titelLine:after {
  margin: 0 auto;
  left: 0;
  right: 0;
}
.titelLine.orange:after {
  background: var(--color-orange);
}
.titelTwo.text-green h3 small,
.titelOne.text-green h2 small,
.titelLine.text-green h3 small {
  color: var(--color-green);
}
p {
  font-size: 16px;
  color: var(--color-light);
  line-height: 26px;
  margin-bottom: 25px;
  font-weight: 400;
}
p + p:last-child,
p:last-child {
  margin-bottom: 0;
}
strong {
  color: var(--color-black);
  font-weight: bold;
}
hr {
  margin-top: 40px;
  margin-bottom: 40px;
  border: none;
  height: 2px;
  width: 100%;
  background: var(--color-gray);
}
.btn {
  border-radius: 0;
  padding: 0.5em 2.5em;
}
.btn-outline-warning {
  color: var(--color-orange);
  border-color: var(--color-orange);
  font-weight: 500;
  font-size: 20px;
}
.btn-outline-warning:hover {
  color: var(--color-white);
  background-color: var(--color-orange);
  border-color: var(--color-orange);
}
.btn-check:active + .btn-outline-warning,
.btn-check:checked + .btn-outline-warning,
.btn-outline-warning.active,
.btn-outline-warning.dropdown-toggle.show,
.btn-outline-warning:active {
  color: var(--color-white);
  background-color: var(--color-orange);
  border-color: var(--color-orange);
}
.btn-check:active + .btn-outline-warning:focus,
.btn-check:checked + .btn-outline-warning:focus,
.btn-outline-warning.active:focus,
.btn-outline-warning.dropdown-toggle.show:focus,
.btn-outline-warning:active:focus {
  box-shadow: none;
}
.btn-check:focus + .btn-outline-warning,
.btn-outline-warning:focus {
  box-shadow: none;
}
.btn-outline-success {
  color: var(--color-green);
  border-color: var(--color-green);
  font-weight: 500;
  font-size: 20px;
}
.btn-outline-success:hover {
  color: var(--color-white);
  background-color: var(--color-green);
  border-color: var(--color-green);
}
.btn-check:active + .btn-outline-success,
.btn-check:checked + .btn-outline-success,
.btn-outline-successsuccess.active,
.btn-outline-success.dropdown-toggle.show,
.btn-outline-success:active {
  color: var(--color-white);
  background-color: var(--color-green);
  border-color: var(--color-green);
}
.btn-check:active + .btn-outline-success:focus,
.btn-check:checked + .btn-outline-success:focus,
.btn-outline-success.active:focus,
.btn-outline-success.dropdown-toggle.show:focus,
.btn-outline-success:active:focus {
  box-shadow: none;
}
.btn-check:focus + .btn-outline-success,
.btn-outline-success:focus {
  box-shadow: none;
}
.btn-success {
  color: var(--color-white);
  background-color: var(--color-green);
  border: none;
  padding: 0.5em 4em;
}
.btn-success:hover,
.btn-check:active + .btn-success,
.btn-check:checked + .btn-success,
.btn-success.active,
.btn-success:active,
.show > .btn-success.dropdown-toggle {
  color: var(--color-white);
  background-color: var(--color-orange);
}
.btn-check:active + .btn-success:focus,
.btn-check:checked + .btn-success:focus,
.btn-success.active:focus,
.btn-success:active:focus,
.show > .btn-success.dropdown-toggle:focus,
.btn-check:focus + .btn-success,
.btn-success:focus {
  box-shadow: none;
  background-color: var(--color-orange);
}
.btn-danger {
  color: var(--color-white);
  background-color: var(--color-orange);
  border: none;
  padding: 0.5em 4em;
}
.btn-danger:hover,
.btn-check:active + .btn-danger,
.btn-check:checked + .btn-danger,
.btn-danger.active,
.btn-danger:active,
.show > .btn-danger.dropdown-toggle {
  color: var(--color-white);
  background-color: var(--color-green);
}
.btn-check:active + .btn-danger:focus,
.btn-check:checked + .btn-danger:focus,
.btn-danger.active:focus,
.btn-danger:active:focus,
.show > .btn-danger.dropdown-toggle:focus,
.btn-check:focus + .btn-danger,
.btn-danger:focus {
  box-shadow: none;
  background-color: var(--color-green);
}
.btn-sm {
  font-size: 16px;
}
/* Global Button Styles */
.animated-button:link,
.animated-button:visited {
  position: relative;
  text-align: center;
  overflow: hidden;
  letter-spacing: 0.08em;
  border-radius: 0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.animated-button:link:after,
.animated-button:visited:after {
  content: "";
  position: absolute;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 150%;
  z-index: 1;
  -webkit-transition: all 0.75s ease 0s;
  -moz-transition: all 0.75s ease 0s;
  -o-transition: all 0.75s ease 0s;
  transition: all 0.75s ease 0s;
}
.animated-button:link:hover,
.animated-button:visited:hover {
  color: var(--color-white);
  text-shadow: none;
}
.animated-button:link:hover:after,
.animated-button:visited:hover:after {
  height: 450%;
}
.animated-button:link,
.animated-button:visited {
  position: relative;
  text-align: center;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
/* Victoria Buttons */
.animated-button.victoria-one {
}
.animated-button.victoria-one:after {
  background: var(--color-orange);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  transform: translateX(-50%) translateY(-50%) rotate(-25deg);
}
.btn-outline-success.animated-button.victoria-one:after {
  background: var(--color-green);
}
.animated-button.victoria-two {
  border: 2px solid var(--color-orange);
}
.animated-button.victoria-two:after {
  background: var(--color-orange) 7;
  -moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
  transform: translateX(-50%) translateY(-50%) rotate(25deg);
}
.animated-button.victoria-three {
  border: 2px solid var(--color-orange);
}
.animated-button.victoria-three:after {
  background: var(--color-orange);
  opacity: 0.5;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.animated-button.victoria-three:hover:after {
  height: 140%;
  opacity: 1;
}
.animated-button.victoria-four {
  border: 2px solid var(--color-orange);
}
.animated-button.victoria-four:after {
  background: var(--color-orange) 7;
  opacity: 0.5;
  -moz-transform: translateY(-50%) translateX(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) translateX(-50%) rotate(90deg);
  -webkit-transform: translateY(-50%) translateX(-50%) rotate(90deg);
  transform: translateY(-50%) translateX(-50%) rotate(90deg);
}
.animated-button.victoria-four:hover:after {
  opacity: 1;
  height: 600% !important;
}
.animated-button span {
  position: relative;
  z-index: 99;
}
/*============== Start Menu ================*/
.topPart {
  padding: 8px 20px;
  background: var(--color-green);
}
.topPart a.getQuote {
  color: var(--color-white);
  font-size: 17px;
  font-weight: 700;
}
.topPart a.getQuote:hover {
  color: var(--color-orange);
}
.topPart a.getQuote img {
  margin-left: 3px;
  width: 32px;
}
.topPart ul {
}
.topPart ul li {
  display: inline-block;
  margin: 0 5px;
}
.topPart ul li a svg {
  width: 24px;
  height: 24px;
  fill: var(--color-white);
  webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.topPart ul li a:hover svg {
  fill: var(--color-orange);
}
.brand {
  font-size: 1.625rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: -1px;
  color: var(--color-orange);
  text-transform: uppercase;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 100;
  margin: 0 auto;
  /*background: var(--color-white);*/
}
.header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2rem;
  max-width: 100%;
  margin: 30px auto 20px;
}
.header .navbar {
  width: 75%;
}
.header .menu {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.header .menu > .menu-item {
  position: relative;
  margin: 0 3%;
}
.header .menu > .menu-item:last-child {
  margin-right: 0;
  width: 20%;
  text-align: center;
}
.header .menu > .menu-item > a {
  display: block;
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  line-height: inherit;
  padding: 0.5rem 0;
  border: none;
  outline: none;
  color: var(--color-black);
  text-transform: capitalize;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.header .menu > .menu-item:last-child a {
  background: var(--color-orange);
  color: var(--color-white);
  border: 2px solid var(--color-orange);
  /*padding-left: 5.5em;
  padding-right: 5.5em;*/
}
.header .menu > .menu-item:last-child a:hover {
  color: var(--color-orange);
  background: var(--color-white);
}
.header .menu > .menu-item > a .expand {
  position: relative;
  display: none;
  width: 0.75rem;
  height: 0.75rem;
  margin-left: 0.35rem;
  pointer-events: none;
  border: none;
  outline: none;
}
.header .menu > .menu-item > a .expand:before,
.header .menu > .menu-item > a .expand:after {
  position: absolute;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  content: "";
  top: 50%;
  left: 50%;
  width: 100%;
  height: 2px;
  background: var(--color-black);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.header .menu > .menu-item:hover > a {
  color: var(--color-orange);
}
.header .menu > .menu-item:hover > a .expand::before,
.header .menu > .menu-item:hover > a .expand::after {
  background: var(--color-orange);
}
.header .menu > .menu-item > a .expand::after {
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
  transform: translate(-50%, -50%) rotate(-90deg);
}
.header .menu > .menu-item > .sub-menu > .menu-item > a:hover {
  color: var(--color-orange);
}
.header .menu > .menu-item > .sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 310px;
  height: auto;
  padding: 1.5rem 34px 1rem;
  border: none;
  outline: none;
  opacity: 0;
  visibility: hidden;
  background: var(--color-white);
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  -webkit-transform: translateY(4rem);
  transform: translateY(4rem);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header .menu > .menu-item > .sub-menu > .menu-item {
  display: block;
  margin-bottom: 20px;
}
.header .menu > .menu-item > .sub-menu > .menu-item > a {
  display: block;
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  padding: 0 0 5px;
  color: var(--color-black);
  text-transform: capitalize;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  border-bottom: 2px solid var(--color-orange);
}
.header .burger {
  position: relative;
  cursor: pointer;
  display: none;
  width: 1.75rem;
  height: 1rem;
  margin-top: -0.25rem;
  outline: none;
  opacity: 0;
  visibility: hidden;
  background: none;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  border: 0;
}
.header .burger-line {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  left: 0;
  border: none;
  outline: none;
  opacity: 1;
  border-radius: 0.25rem;
  background: var(--color-green);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.header .burger-line:nth-child(1) {
  top: 0;
}
.header .burger-line:nth-child(2),
.header .burger-line:nth-child(3) {
  top: 0.5rem;
}
.header .burger-line:nth-child(4) {
  top: 1rem;
}
.header .overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.65);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
/* Start dark Header */
.header.darkHeader {
}
.header.darkHeader .logo {
  display: none;
}
.header.darkHeader .menu > .menu-item > a {
  color: var(--color-white);
}
.header.darkHeader .menu > .menu-item:hover > a {
  color: var(--color-orange);
}
.header.darkHeader .menu > .menu-item:last-child a {
}
.header.darkHeader .menu > .menu-item:last-child a:hover {
  background: var(--color-blue);
  color: var(--color-orange);
}
/* End dark Header */
/*Start Banner*/
.banner,
.Contact {
  padding-top: 160px;
}
.banner p,
.Contact p {
  font-size: 24px;
  line-height: 38px;
  margin-bottom: 30px;
}
.banner p + .banner p:last-child,
.banner p:last-child,
.Contact p + .Contact p:last-child,
.Contact p:last-child {
  margin-bottom: 0;
}
.banner h1 {
  margin-bottom: 20px;
}
.banner .titelOne h1 {
  margin-bottom: 30px;
}
/*Start homeSolution*/
.homeSolution {
  background: #f0f6da url("../images/bg-solutions.jpg") center top no-repeat;
  padding: 200px 0 100px;
  background-size: 100%;
}
.homeSolutionBoxPart {
  margin-bottom: 50px;
}
.homeSolutionBox {
  background: var(--color-green);
  padding: 1em;
  margin: 30px 15px 20px;
  border: 2px solid var(--color-green);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.homeSolutionBox svg {
  width: 58px;
  fill: var(--color-white);
  webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.homeSolutionBox a {
  display: block;
}
.homeSolutionBox h4 {
  margin: 10px 0 0;
  color: var(--color-white);
  font-size: 20px;
  font-weight: 600;
  webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.homeSolutionBox:hover {
  background: #f0f6da;
}
.homeSolutionBox:hover h4 {
  color: var(--color-green);
}
.homeSolutionBox:hover svg {
  fill: var(--color-green);
}
/*Start home Web Solutions*/
.homeWebSolutions {
  padding: 80px 0;
}
.homeWebSolutionsbox {
  position: relative;
  width: 260px;
  height: 209px;
  border: 1px solid var(--color-blue);
  padding: 40px 32px;
  margin: 30px auto;
}
.homeWebSolutionsbox:before {
  position: absolute;
  content: "";
  left: -3px;
  top: -3px;
  width: 56px;
  height: 56px;
  border: 6px solid var(--color-orange);
  border-bottom: 0;
  border-right: 0;
}
.homeWebSolutionsbox a {
  display: block;
  position: relative;
  z-index: 999;
}
.homeWebSolutionsbox svg {
  width: 64px;
  fill: var(--color-orange);
  webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.homeWebSolutionsbox p {
  color: var(--color-blue);
  font-size: 20px;
  font-weight: 700;
  margin: 15px 0 0;
  line-height: 28px;
  webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.homeWebSolutionsbox:hover:after {
  background: var(--color-blue);
  z-index: 99;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
}
.homeWebSolutionsbox:hover svg {
  fill: var(--color-white);
}
.homeWebSolutionsbox:hover p {
  color: var(--color-white);
}
/*Start homeGrowBusiness*/
.homeGrowBusiness {
  background: var(--color-white);
  background: -moz-linear-gradient(
    top,
    var(--color-white) 28%,
    var(--color-blue) 28%
  );
  background: -webkit-linear-gradient(
    top,
    var(--color-white) 28%,
    var(--color-blue) 28%
  );
  background: linear-gradient(
    to bottom,
    var(--color-white) 28%,
    var(--color-blue) 28%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='var(--color-white)', endColorstr='var(--color-blue)', GradientType=0);
}
.homeGrowBusinessText {
  padding-top: 59%;
}
.homeGrowBusinessText h3 {
  color: var(--color-white);
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 18px;
}
.homeGrowBusinessText p {
  color: var(--color-white);
  opacity: 0.82;
  font-weight: 300;
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 38px;
  padding-right: 8%;
}
/*Start homeOurClients*/
.homeOurClients {
  padding: 50px 0;
}
.homeOurClients p {
  font-size: 24px;
  line-height: 38px;
  padding-right: 8%;
}
.homeOurClientsBox {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  width: 260px;
  padding: 30px;
  margin: 30px 0;
  height: 155px;
}
.homeOurClientsBox img {
  width: 46px;
  margin-bottom: 20px;
}
.homeOurClientsBox p {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  color: var(--color-blue);
}
/*Start home WhyChoose*/
.homeWhyChoose {
  padding: 80px 0 80px;
}
.WhyChoose {
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.25);
  padding: 30px;
  margin: 80px auto 50px;
  position: relative;
  width: 270px;
  background: var(--color-white);
}
.WhyChooseOne:before,
.WhyChooseTwo:before,
.WhyChooseThree:before,
.WhyChooseFour:before,
.WhyChooseOne:after,
.WhyChooseTwo:after,
.WhyChooseThree:after,
.WhyChooseFour:after {
  position: absolute;
  content: "";
  display: block;
  z-index: -9;
}
.WhyChooseOne:before {
  background: rgba(166, 198, 38, 0.4);
  width: 8px;
  height: 90%;
  top: -55px;
  left: 45px;
}
.WhyChooseTwo:before {
  background: rgba(166, 198, 38, 0.4);
  width: 90%;
  height: 8px;
  top: 55px;
  right: -55px;
}
.WhyChooseThree:before {
  background: rgba(166, 198, 38, 0.4);
  width: 90%;
  height: 8px;
  top: 55px;
  right: -55px;
}
.WhyChooseFour:before {
  background: rgba(166, 198, 38, 0.4);
  width: 90%;
  height: 8px;
  bottom: 55px;
  left: -55px;
}
.WhyChooseOne:after {
  background: #e4e4e4;
  width: 132px;
  height: 132px;
  bottom: -22px;
  right: -33px;
}
.WhyChooseTwo:after {
  background: #e4e4e4;
  width: 132px;
  height: 132px;
  top: -22px;
  left: -33px;
}
.WhyChooseThree:after {
  background: #e4e4e4;
  width: 132px;
  height: 132px;
  bottom: -40px;
  left: 30px;
}
.WhyChooseFour:after {
  background: #e4e4e4;
  width: 132px;
  height: 132px;
  top: -22px;
  right: -33px;
}
.WhyChoose img {
  width: 75px;
  margin-bottom: 20px;
}
.WhyChoose h3 {
  font-size: 24px;
  font-weight: 700;
  color: var(--color-black);
  margin-bottom: 15px;
}
.WhyChoose p {
  font-size: 15px;
  color: var(--color-light);
  line-height: 20px;
}
.WhyChooseImg {
  margin: 80px auto 50px;
}
/*Start homeCount */
.homeCount {
  padding: 50px 0;
}
.homeCountBox {
  width: 350px;
  margin: 30px auto;
  text-align: center;
}
.homeCountBox h2 {
  margin: 0 0 40px;
  background: #8da820;
  font-size: 78px;
  font-weight: 700;
  padding: 40px;
}
.bg-orange .homeCountBox h2 {
  background: #be440a;
}
.homeCountBox h4 {
  font-size: 42px;
  margin: 0;
  color: var(--color-white);
  line-height: 58px;
  padding: 0 10%;
}
/*Start homeBlog*/
.homeBlog {
  padding: 80px 0;
}
.homeBlogBox {
  margin: 0 auto 50px;
  position: relative;
  width: 380px;
  padding-left: 25px;
}
.homeBlogBox:before {
  position: absolute;
  content: "";
  display: block;
  background: var(--color-orange);
  width: 5px;
  height: 66%;
  left: 0;
  top: 0;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.homeBlogBox h3 {
  font-size: 25px;
  font-weight: 700;
  margin: 22px 0 10px;
}
.homeBlogBox p {
  font-size: 18px;
  line-height: 29px;
}
.homeBlogBox a {
  display: block;
}
.homeBlogBox:hover:before {
  left: 12px;
}
.homeBlogBox:hover h3 {
  color: var(--color-orange);
}
/*Start homeNewsletter*/
.homeNewsletter {
  padding: 80px 4%;
}
.homeNewsletter .form-control {
  height: 60px !important;
  border-radius: 0;
  border: 0;
}
.homeNewsletter .btn {
  height: 60px;
  font-weight: 600;
  font-size: 22px;
}
/*Start homeFaq*/
.homeFaq {
  padding: 80px 4% 0;
}
.homeFaq .accordion-button {
  margin: 0;
  padding: 10px 0;
  cursor: pointer;
  font-size: 22px;
  font-weight: 600;
}
.homeFaq .accordion-item {
  border: 0;
  border-bottom: 2px solid var(--color-green);
  border-radius: 0;
}
.homeFaq .accordion-button:not(.collapsed) {
  background-color: inherit;
  box-shadow: inherit;
  color: var(--color-green);
}
.homeFaq .accordion-body {
  padding: 0 0 20px;
}
.homeFaq .accordion-item:first-of-type .accordion-button,
.homeFaq .accordion-item:last-of-type,
.homeFaq .accordion-item:first-of-type {
  border-radius: 0;
}
.homeFaq .accordion-button::after {
  background-image: url("../images/icon-plus.png");
  width: 1.75rem;
  height: 1.75rem;
  background-size: 1.75rem;
}
.homeFaq .accordion-button:not(.collapsed)::after {
  background-image: url("../images/icon-minus.png");
  transform: rotate(0);
}
.homeFaq .accordion-button:hover {
  color: var(--color-green);
}
/*Start footer*/
.footer {
  padding: 50px 0;
  margin-top: 80px;
}
.footerLogo {
  margin-bottom: 50px;
  padding-right: 18%;
}
.footerLogo p {
  font-size: 18px;
  color: var(--color-blue);
  line-height: 32px;
}
.footerLink {
  margin-bottom: 50px;
}
.footerLink h3,
.footerContact h3 {
  position: relative;
  font-size: 30px;
  color: var(--color-black);
  margin-bottom: 50px;
}
.footerLink h3:after,
.footerContact h3:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -15px;
  width: 76px;
  height: 5px;
  background: var(--color-green);
}
.footerLink ul {
}
.footerLink ul li {
  margin: 18px 0;
}
.footerLink ul li a {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.footerLink ul li a:hover {
}
.footerContact ul.footerConList {
}
.footerContact ul.footerConList li {
  margin: 18px 0 10px;
}
.footerContact ul.footerConList li a {
  font-size: 18px;
  font-weight: 400;
}
.footerContact ul.footerConList li a:hover {
}
.footerContact ul.footerConList li a svg {
  width: 24px;
  fill: var(--color-green);
  webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  margin-right: 5px;
}
.footerContact ul.footerConList li a:hover svg {
  fill: var(--color-orange);
}
.footerContact ul.footerSocial {
  margin-top: 30px;
}
.footerContact ul.footerSocial li {
  display: inline-block;
  margin-right: 7px;
}
.footerContact ul.footerSocial li a {
}
.footerContact ul.footerSocial li a:hover {
}
.footerContact ul.footerSocial li a svg {
  width: 30px;
  height: 30px;
  fill: var(--color-blue);
  webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.footerContact ul.footerSocial li a:hover svg {
  fill: var(--color-orange);
}
.footer .copy {
  text-align: center;
  border-top: 1px solid var(--color-blue);
  font-size: 18px;
  color: var(--color-blue);
  padding-top: 30px;
  margin-top: 30px;
}
/*.aboutBoxPart{ width: calc(100% / 5); word-break: break-word; padding-left: 1.5rem; padding-right: 1.5rem;flex: 0 0 auto; }*/
.ptb-80 {
  padding: 80px 0;
}
.pt-80 {
  padding-top: 80px;
}
.pb-80 {
  padding-bottom: 80px;
}
.mtb-80 {
  margin: 80px 0;
}
.mt-80 {
  margin-top: 80px;
}
.mb-80 {
  margin-bottom: 80px;
}
.aboutBoxPart {
  position: relative;
  padding: 40px 40px 30px;
  box-shadow: 3px 4px 20px rgba(0, 0, 0, 0.18);
  height: 100%;
}
.aboutBoxPart:hover {
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
}
.aboutBoxPart:before {
  position: absolute;
  content: "";
  left: -4px;
  top: -4px;
  width: 56px;
  height: 56px;
  border: 6px solid var(--color-green);
  border-bottom: 0;
  border-right: 0;
}
.aboutBoxPart:hover:before {
  border: 6px solid var(--color-orange);
  border-bottom: 0;
  border-right: 0;
}
.aboutBoxPart a {
  display: block;
  position: relative;
  z-index: 999;
  color: var(--color-green);
}
.aboutBoxPart a:hover {
  color: var(--color-orange);
}
.aboutBoxPart .aboutBoxPartlink {
  color: var(--color-blue);
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  bottom: 25px;
  line-height: 28px;
  webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.aboutBoxPart:hover .aboutBoxPartlink {
  color: var(--color-green);
}
.aboutBoxPart h4 {
  font-size: 25px;
  line-height: 35px;
}
.aboutBoxPart ul li {
  font-family: "Exo", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 38px;
  color: var(--color-black);
}
.bgOrange:before {
  border: 6px solid var(--color-orange);
  border-bottom: 0;
  border-right: 0;
}
.bgOrange:hover:before {
  border: 6px solid var(--color-green);
  border-bottom: 0;
  border-right: 0;
}
.owl-one.owl-carousel.owl-drag .owl-item,
.owl-one.owl-carousel.owl-drag .item,
.owl-one.owl-carousel .owl-stage-outer,
.owl-one.owl-carousel .owl-stage {
  height: 100%;
}
.owl-one.owl-carousel .owl-item {
  padding: 25px;
}
.owl-one.owl-carousel .owl-nav button.owl-next,
.owl-one.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 49%;
}
.owl-one.owl-carousel .owl-nav button.owl-next {
  right: 0;
}
.owl-one.owl-carousel .owl-nav button.owl-prev {
  left: 0;
}
.owl-one.owl-carousel .owl-nav button.owl-next:hover,
.owl-one.owl-carousel .owl-nav button.owl-prev:hover {
  opacity: 0.7;
}
ul.Social {
  margin-top: 50px;
}
ul.Social li {
  display: inline-block;
  margin: 0 10px;
}
ul.Social li a {
}
ul.Social li a:hover {
}
ul.Social li a svg {
  width: 52px;
  height: 52px;
  fill: var(--color-green);
  webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
ul.Social li a:hover svg {
  fill: var(--color-orange);
}
.brandingBox {
  position: relative;
}
.topIcon {
  margin: 20px 30px 50px;
  border-bottom: 3px solid var(--color-orange);
  padding-bottom: 30px;
}
.topIcon h3 {
  margin-bottom: 20px;
  font-weight: 700;
}
.topIcon svg {
  width: 52px;
  height: 52px;
  fill: var(--color-orange);
  -webkit-transition: 1s ease all;
  -o-transition: 1s ease all;
  -moz-transition: 1s ease all;
  -ms-transition: 1s ease all;
  transition: 1s ease all;
  margin-bottom: 20px;
}
.topIcon:hover h3 {
  color: var(--color-orange);
  -webkit-transition: 1s ease all;
  -o-transition: 1s ease all;
  -moz-transition: 1s ease all;
  -ms-transition: 1s ease all;
  transition: 1s ease all;
}
.topIcon:hover svg {
  fill: var(--color-green);
  -webkit-transition: 1s ease all;
  -o-transition: 1s ease all;
  -moz-transition: 1s ease all;
  -ms-transition: 1s ease all;
  transition: 1s ease all;
}
.topIcon:hover {
  border-color: var(--color-green);
  -webkit-transition: 1s ease all;
  -o-transition: 1s ease all;
  -moz-transition: 1s ease all;
  -ms-transition: 1s ease all;
  transition: 1s ease all;
}
.topIcon.coloBlue {
  border-bottom: 3px solid var(--color-blue);
  height: 100%;
  margin: 20px 30px 0px;
}
.topIcon.coloBlue svg {
  fill: var(--color-blue);
}
.topIcon.coloBlue h3 {
  color: var(--color-white);
}
.topIcon.coloBlue:hover h3 {
  color: var(--color-blue);
}
.topIcon.coloBlue:hover svg {
  fill: var(--color-white);
}
.topIcon.coloBlue:hover {
  border-color: var(--color-white);
}
.contactBox {
  background: var(--color-white);
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.13);
  padding: 50px 40px;
  margin-top: 20px;
  position: relative;
  z-index: 9;
  width: 105%;
}
ul.contactList {
  text-align: left;
}
ul.contactList li {
  display: flex;
  color: var(--color-black);
  font-size: 16px;
  font-weight: 400;
  padding: 10px 0;
}
ul.contactList li a {
  color: var(--color-black);
}
ul.contactList li a:hover {
  color: var(--color-orange);
}
ul.contactList li svg {
  fill: var(--color-green);
  width: 20px;
  margin-right: 15px;
}
ul.checkList {
  text-align: left;
}
ul.checkList li {
  display: flex;
  color: var(--color-black);
  font-size: 20px;
  font-weight: 400;
  padding: 10px 0;
}
ul.checkList li a {
  color: var(--color-black);
}
ul.checkList li a:hover {
  color: var(--color-orange);
}
ul.checkList li svg {
  width: 32px;
  margin-right: 15px;
}
ul.checkList.text-orange li svg {
  fill: var(--color-orange);
}
ul.checkList.text-green li svg {
  fill: var(--color-green);
}
ul.advantageList li {
  display: flex;
  color: var(--color-black);
  font-size: 18px;
  font-weight: 500;
  padding: 0px 0 15px;
}
ul.advantageList li a {
  color: var(--color-black);
}
ul.advantageList li a:hover,
ul.advantageList li:hover {
  color: var(--color-orange);
}
ul.advantageList li svg {
  width: 26px;
  margin-right: 15px;
  fill: var(--color-green);
}
.flex-lg-row-reverse ul.checkList li {
  justify-content: flex-start;
  flex-direction: row-reverse;
}
.flex-lg-row-reverse ul.checkList li svg {
  margin-left: 15px;
  margin-right: 0;
}
.getTouch {
  background: rgba(166, 198, 38, 0.2);
  width: 105%;
  position: relative;
  padding: 50px 40px 50px 130px;
  left: -5%;
  margin-top: 80px;
  margin-bottom: 80px;
}
.addressBox {
  box-shadow: 4px 4px 10px 3px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  background: var(--color-white);
  padding: 30px;
  height: 100%;
}
.addressBox:hover {
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
}
.brandingBox:before,
.brandingBox:after {
  position: absolute;
  content: "";
  width: 240px;
  height: 220px;
  z-index: -9;
}
.brandingBox:before {
  top: 0;
  left: 0;
  background: var(--color-green);
  opacity: 0.18;
}
.brandingBox:after {
  bottom: 0;
  right: 0;
  background: var(--color-orange);
  opacity: 0.13;
}
.brandingBox:before,
.brandingBox:after {
  width: 80px;
  height: 370px;
}
.wordpressDevelopment:before {
  background: var(--color-orange);
  top: -20%;
}
.wordpressDevelopment:after {
  background: var(--color-green);
  bottom: 20%;
}
.wordpressDevelopmentImg {
}
.wordpressDevelopmentImg:before,
.wordpressDevelopmentImg:after {
  position: absolute;
  content: "";
  z-index: -9;
}
.wordpressDevelopmentImg:before {
  height: 3px;
  background: var(--color-orange);
  width: 30%;
  left: 0;
  top: 63%;
}
.wordpressDevelopmentImg:after {
}
.wordpressDevelopmentImgLine {
  height: 3px;
  background: var(--color-orange);
  position: absolute;
  right: 0;
  width: 14%;
  top: 25%;
  z-index: 9;
}
.wordpressDevelopmentImgLine:before,
.wordpressDevelopmentImgLine:after {
  position: absolute;
  content: "";
  z-index: -9;
}
.wordpressDevelopmentImgLine:before {
  width: 3px;
  background: var(--color-orange);
  height: 78px;
  right: 99%;
  top: 0;
}
.wordpressDevelopmentImgLine:after {
  width: 98%;
  background: var(--color-orange);
  height: 3px;
  top: 76px;
  right: 99%;
}
.wordpressSolutions {
  position: relative;
}
.wordpressSolutions ul {
}
.wordpressSolutions ul li {
  font-size: 22px;
  color: var(--color-white);
  padding: 23px 0;
  font-weight: 600;
}
.wordpressSolutions ul li:first-child {
  padding-top: 0;
}
.wordpressSolutions:before,
.wordpressSolutions:after {
  position: absolute;
  content: "";
  z-index: -9;
}
.wordpressSolutions:before {
  background: rgba(255, 229, 217, 0.07);
  width: 80px;
  height: 90%;
  bottom: 0;
  left: 25%;
  z-index: 9;
}
.wordpressSolutions:after {
  background: rgba(255, 229, 217, 0.07);
  width: 40%;
  height: 80px;
  bottom: 30px;
  left: 0;
  z-index: 9;
}
.seoBanner {
  position: relative;
}
.seoBanner:before,
.seoBanner:after {
  position: absolute;
  content: "";
  z-index: -9;
}
.seoBanner:before {
  background: var(--color-green);
  opacity: 0.17;
  width: 90px;
  height: 70%;
  top: 0;
  left: 52%;
  z-index: -9;
}
.seoBanner:after {
  background: var(--color-green);
  opacity: 0.17;
  width: 55%;
  height: 90px;
  bottom: 14.7%;
  left: 0;
  z-index: -9;
}
.seoImg {
  position: relative;
}
.seoImg img {
  position: relative;
  left: -26%;
  top: 40px;
}
.seoBanner h1 {
  position: relative;
  top: -50px;
}
.seoBannerPart {
  position: relative;
  top: -145px;
}
.customSEO {
  background: rgba(166, 198, 38, 0.17);
}
.customSEO p {
  color: var(--color-black);
}
.socialmediaBanner {
  background: #202726;
  background: -moz-linear-gradient(top, #202726 86%, #ffffff 86%);
  background: -webkit-linear-gradient(top, #202726 86%, #ffffff 84%);
  background: linear-gradient(to bottom, #202726 86%, #ffffff 86%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#202726', endColorstr='#ffffff', GradientType=0);
  position: relative;
}
/*.socialmediaBanner:after, .socialmediaBanner:before{ position: absolute; content: "";}
.socialmediaBanner:before{ background: url("../images/SocialMedialeft.png"); width: 356px; height: 403px; left: 0; bottom: 0;}
.socialmediaBanner:after{background: url("../images/SocialMediaright.png"); width: 356px; height: 403px; right: 0; bottom: 0;}*/
.blackBanner {
  background: var(--color-black);
}
.SocialMediaright {
  position: absolute;
  right: 5%;
  bottom: 16%;
}
.SocialMedialeft {
  position: absolute;
  left: 5%;
  bottom: 20%;
}
.SocialMediatop {
  display: none;
}
.topiconBox {
  width: 96%;
  margin: 0 auto;
  -webkit-transition: 1s ease all;
  -o-transition: 1s ease all;
  -moz-transition: 1s ease all;
  -ms-transition: 1s ease all;
  transition: 1s ease all;
}
.topiconBox svg {
  fill: var(--color-green);
  height: 42px;
  margin-bottom: 15px;
}
.topiconBox:hover {
}
.topiconBox:hover svg {
  fill: var(--color-orange);
  -webkit-transition: 1s ease all;
  -o-transition: 1s ease all;
  -moz-transition: 1s ease all;
  -ms-transition: 1s ease all;
  transition: 1s ease all;
}
.topiconBox:hover h4 {
  color: var(--color-green);
  -webkit-transition: 1s ease all;
  -o-transition: 1s ease all;
  -moz-transition: 1s ease all;
  -ms-transition: 1s ease all;
  transition: 1s ease all;
}
.topiconBox.orange svg {
  fill: var(--color-orange);
}
.topiconBox.orange:hover svg {
  fill: var(--color-green);
}
.topiconBox.orange:hover h4 {
  color: var(--color-orange);
}
.mianBlogText {
  position: relative;
  margin-left: 30px;
  padding-left: 30px;
}
.mianBlogText:before {
  position: absolute;
  content: "";
  width: 3px;
  height: 80%;
  top: 5%;
  left: 0;
  background: var(--color-orange);
}
.mianBlogText h2 {
  font-weight: 400;
  color: var(--color-black);
}
.mainBlogSmall .homeBlogBox {
  margin: 80px auto 0px;
  position: relative;
  width: 480px;
  padding-left: 0;
}
.mainBlogSmall .homeBlogBox:before {
  display: none;
}
.forexServices {
  position: relative;
}
.forexServices:before {
  position: absolute;
  content: "";
  background: rgba(166, 198, 38, 0.27);
  width: 100px;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
}
.forexWebdesign {
  position: relative;
}
.forexWebdesign:before {
  position: absolute;
  content: "";
  background: rgba(166, 198, 38, 0.27);
  width: 100px;
  height: 66%;
  right: 22%;
  bottom: 0;
  margin: 0 auto;
}
.forexMultilevelIB {
  position: relative;
}
.forexMultilevelIB:before {
  position: absolute;
  content: "";
  background: rgba(166, 198, 38, 0.27);
  width: 100px;
  height: 66%;
  left: 22%;
  bottom: 0;
  margin: 0 auto;
}
.whyForexWebDesignBox {
  margin-bottom: 40px;
  position: relative;
}
.whyForexWebDesignBox .titelLine h3 span {
  display: block;
  color: rgba(128, 128, 128, 0.4);
  font-size: 48px;
  margin-bottom: 10px;
}
.whyForexWebDesignBox .whyForexWebDesignImg {
  position: relative;
  margin-top: 50px;
}
.whyForexWebDesignBox .whyForexWebDesignImg:after {
  position: absolute;
  content: "";
  width: 48%;
  height: 75%;
  z-index: -9;
}
.whyForexWebDesignBox:nth-child(1) .whyForexWebDesignImg:after {
  background: rgba(255, 229, 217, 0.94);
  left: -5%;
  bottom: -9%;
}
.whyForexWebDesignBox:nth-child(3) .whyForexWebDesignImg:after {
  background: rgba(166, 198, 38, 0.23);
  right: -5%;
  top: -9%;
}
.whyForexWebDesignBox:nth-child(4) .whyForexWebDesignImg:after {
  background: rgba(166, 198, 38, 0.23);
  right: -5%;
  top: -9%;
}
.whyForexWebDesignBox:nth-child(6) .whyForexWebDesignImg:after {
  background: rgba(255, 229, 217, 0.94);
  left: -5%;
  bottom: -9%;
}
.whyForexWebDesignBox:nth-child(4),
.whyForexWebDesignBox:nth-child(6) {
  margin-top: 60px;
}
.whyForexWebDesignBox img {
  width: 100%;
}
.roomSidebar {
  background: rgba(166, 198, 38, 0.18);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.13);
  padding: 30px 50px;
}
.roomSidebar ul {
}
.roomSidebar ul li {
  font-size: 18px;
  font-weight: 500;
  color: var(--color-black);
  margin: 15px 0;
}
.roomSidebar ul li svg {
  fill: var(--color-green);
  width: 32px;
  margin-right: 20px;
}
.responsive-tabs {
}
.responsive-tabs .nav-tabs {
  display: none;
}
.keyFeaturesTab {
  padding-top: 50px;
}
.keyFeaturesTab .nav-tabs {
  border: 0;
}
.keyFeaturesTab .nav-tabs .nav-item {
  padding: 0 30px;
  width: 20%;
}
.keyFeaturesTab .nav-tabs .nav-item:first-child {
  padding-left: 0;
}
.keyFeaturesTab .nav-tabs .nav-item:last-child {
  padding-right: 0;
}
.keyFeaturesTab .nav-tabs .nav-link,
.keyFeaturesTab .card-header h5 a {
  border: 0;
  background: none;
  border-radius: 0;
  padding: 0;
  font-size: 22px;
  line-height: 32px;
  font-weight: 700;
  color: var(--color-light);
}
.keyFeaturesTab .nav-tabs .nav-item.show .nav-link,
.keyFeaturesTab .nav-tabs .nav-link.active,
.keyFeaturesTab .card-header h5 a[aria-expanded="true"] {
  background: none;
  border: 0;
  color: var(--color-orange);
}
.keyFeaturesTab .nav-tabs .nav-link:hover {
  color: var(--color-orange);
}
.keyFeaturesTab .nav-tabs .nav-link svg,
.keyFeaturesTab .card-header h5 a svg {
  width: 50px;
  fill: var(--color-light);
  display: block;
  margin-bottom: 15px;
}
.keyFeaturesTab .nav-tabs .nav-item.show svg .nav-link,
.keyFeaturesTab .nav-tabs .nav-link.active svg,
.keyFeaturesTab .card-header h5 a[aria-expanded="true"] svg {
  fill: var(--color-orange);
}
.keyFeaturesTab .nav-tabs .nav-link:hover svg {
  fill: var(--color-orange);
}
.keyFeaturesTab .card {
  background: none;
  padding: 0;
  border: 0;
  border-radius: 0;
}
.keyFeaturesTab .card-header {
  margin: 0 0 20px;
  padding: 0;
  border: 0;
  border-radius: 0;
  background: none;
}
.keyFeaturesTab .card-body {
  margin: 0;
  padding: 0;
}
.keyFeaturesTab .card-body h2 span {
  display: block;
  color: rgba(128, 128, 128, 0.4);
  font-size: 48px;
  margin-bottom: 10px;
}
.Commission {
  position: relative;
  padding: 40px 40px 30px;
  height: 100%;
}
.Commission:hover {
}
.Commission:before {
  position: absolute;
  content: "";
  left: -6px;
  top: -6px;
  width: 56px;
  height: 56px;
  border-bottom: 0;
  border-right: 0;
}
.Commission:hover:before {
  border-bottom: 0;
  border-right: 0;
}
.Commission.bgGreen {
  border: 2px solid var(--color-green);
}
.Commission.bgOrange {
  border: 2px solid var(--color-orange);
}
.Commission.bgGreen:hover {
  border: 2px solid var(--color-orange);
}
.Commission.bgOrange:hover {
  border: 2px solid var(--color-green);
}
.Commission.bgGreen:before {
  border: 6px solid var(--color-green);
  border-bottom: 0;
  border-right: 0;
}
.Commission.bgGreen:hover:before {
  border: 6px solid var(--color-orange);
  border-bottom: 0;
  border-right: 0;
}
.Commission.bgOrange:before {
  border: 6px solid var(--color-orange);
  border-bottom: 0;
  border-right: 0;
}
.Commission.bgOrange:hover:before {
  border: 6px solid var(--color-green);
  border-bottom: 0;
  border-right: 0;
}
.lightBox {
  width: 325px; /*margin: 0 auto*/
}
.card {
  align-items: flex-start;
}
.modal {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 0;
}
.modal .form-control {
  border: 1px solid #e5e5e5;
  border-left: 3px solid var(--color-green);
}
.modal-content {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 0;
  border: 0;
}
.modal-body {
  padding: 20px 14%;
}
.modal-header {
  padding: 30px 30px 15px;
  border: 0;
}
.modal-title {
  color: var(--color-black);
}
.modal .btn-close {
  box-sizing: content-box;
  width: 1.5em;
  height: 1.5em;
  padding: 0.25em 0.25em;
  color: #000;
  background-size: 1.5em;
  border: 0;
  border-radius: 0.25rem;
  opacity: 0.8;
  position: absolute;
  right: 20px;
  top: 20px;
}
.Successfully .modal-header {
  flex-direction: column;
}
.Successfully .modal-header img {
  margin-right: 15px;
}
.forexWebSolutions .aboutBoxPart {
  margin-left: 5%;
  margin-right: 5%;
}
